<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 $addPost">
                <li class="nav-item">
                    <a class="nav-link" href="/post">Добавить статью</a>
                </li>
            </ul>
            <form action="/" method="get" class="d-flex">
                <input class="form-control me-2" name="query" type="search" placeholder="Заголовок статьи" aria-label="Search">
                <button class="btn btn-outline-info" type="submit">Поиск</button>
            </form>
            <ul class="navbar-nav ml-auto  navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/$navbarRightUrl" role="button"  aria-haspopup="true">
                        $navbarRightText <span class="caret"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
